<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.app.mapper.other.FeeMapper">
    <select id="getFee" resultType="model.dto.other.FeeReportEntity">
        Select
            A.id,
            A.id AS keyId,
            A.period,
            A.type,
            A.user_id AS userID,
            B.user_name_en AS userName,
            A.hours,
            A.amount,
            A.status,
            A.update_user AS updateUser,
            B.user_name_en AS updateUserName,
            A.update_time AS updateTime,
            0 AS expand,
            A.memo,
            B.email
        FROM tsva_fee A
        INNER JOIN sys_user B
        ON A.user_id = B.id
        LEFT JOIN sys_user C
        ON A.update_user = C.id
        WHERE 1=1
        <if test="period != null and period != ''">
            and A.period = #{period}
        </if>
        <if test="type != null and type != ''">
            and A.type = #{type}
        </if>
        <if test="status != null and status != ''">
            and A.status = #{status}
        </if>
        <if test="userId != null">
            and A.user_id = #{userId}
        </if>
        <if test="feeId != null">
            and A.id = #{feeId}
        </if>
        ORDER BY A.Period DESC
    </select>

    <select id="getFeeDetail" resultType="model.dto.other.FeeDetailReportEntity">
        Select
            B.id,
            A.id AS keyId,
            DATE_FORMAT(B.class_date,'%Y-%m-%d') AS classDate,
            B.class_hours AS classHours,
            B.class_name AS className,
            B.class_fee AS classFee,
            B.class_coach_name AS classCoachName,
            B.class_student_name AS classStudentName
        FROM tsva_fee A
        INNER JOIN tsva_fee_detail B
        ON A.id = B.fee_id
        WHERE 1=1
        AND A.id = #{id}
        ORDER BY B.class_date
    </select>

    <insert id="insertFee" parameterType="model.dto.other.FeeReportEntity" >
        INSERT INTO
        tsva_fee(period, type, user_id, status) values
        (#{period}, #{type}, #{userID}, 'new')
    </insert>

    <update id="calculateFeeById">
        UPDATE tsva_fee F,
            (SELECT SUM(FD.class_fee) AS fee, SUM(FD.class_hours) AS hours FROM tsva_fee_detail FD WHERE FD.fee_id = #{id}) A
        SET
            F.amount = A.fee,
            F.hours = A.hours,
            F.update_user = #{updateUser}
        WHERE F.id = #{id}
    </update>

    <update id="deleteFeeDetailByClassId">
        DELETE FROM tsva_fee_detail
        WHERE class_id = #{classId}
    </update>

    <select id="getFeeIdByClassId" resultType="java.lang.Integer">
        SELECT DISTINCT fee_id
        FROM tsva_fee_detail
        WHERE class_id = #{classId}
    </select>
</mapper>