<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.app.mapper.other.RoomMapper">

    <select id="selectRooms" resultType="model.dto.other.SearchRoomDto">
        SELECT
            room.id,
            room.name,
            room.status,
            room.room_price1 AS roomPrice1,
            room.room_price2 AS roomPrice2,
            room.room_price3 AS roomPrice3,
            room.room_price4 AS roomPrice4,
            room.rest_price1 AS restPrice1,
            room.rest_price2 AS restPrice2,
            room.rest_price3 AS restPrice3,
            room.rest_price4 AS restPrice4,
            room.overtime_price1 AS overtimePrice1,
            room.overtime_price2 AS overtimePrice2,
            room.overtime_price3 AS overtimePrice3,
            room.overtime_price4 AS overtimePrice4,
            room.update_user AS updateUser,
            user.user_name_ch AS updateUserName,
            room.update_time AS updateTime
        FROM
            ly_room room
        LEFT JOIN
            sys_user user ON user.id = room.update_user
        WHERE
        1 = 1
        <if test="name != null and name != ''">
            and room.name like concat('%',#{name},'%')
        </if>
        <if test="status != null and status != ''">
            and room.status = #{status}
        </if>
        <if test="id != null">
            and room.id = #{id}
        </if>
        ORDER BY room.name
    </select>

    <select id="selectRoomStatus" resultType="model.dto.other.RoomStatusResponse">
        SELECT
            id,
            name,
            status
        FROM
            ly_room
        WHERE
        1 = 1
        <if test="name != null and name != ''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
        <if test="id != null">
            and id = #{id}
        </if>
        ORDER BY name
    </select>

    <select id="roomCleanDetail" resultType="model.dto.other.RoomCleanResponse">
        SELECT
            clean.id AS cleanId,
            clean.user_id AS userId,
            clean.room_id AS roomId,
            clean.type,
            clean.start_datetime AS startDatetime,
            clean.end_datetime AS endDatetime,
            room.status,
            room.name AS roomName,
            user.user_name_ch AS userChName
        FROM
            ly_clean clean
        INNER JOIN
            ly_room room on room.id = clean.room_id
        LEFT JOIN
            sys_user user on user.id = clean.user_id
        WHERE
            clean.room_id = #{roomId}
            AND clean.end_datetime is NULL
        ORDER BY clean.id DESC
    </select>
</mapper>
