<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.app.mapper.permission.PermissionMapper">

    <select id="selectPermissionByUserId" resultType="string">
        SELECT
            code
        FROM
            sys_permission sp
        LEFT JOIN
            role_permission rp on sp.id = rp.permission_id
        LEFT JOIN
            user_role ur on ur.role_id = rp.role_id
        WHERE
            ur.user_id = #{userId}
    </select>

    <select id="selectPermission" resultType="java.lang.Integer">
        SELECT
            id
        FROM
            sys_permission
        WHERE
            (menu_name = #{menuName} or code = #{code}) and id != #{id}
    </select>

    <select id="selectMenuPerByUserId" resultType="model.entity.sys.SysPermission">
        SELECT
            per.id,
            menu_name menuName,
            code,
            father_id fatherId,
            order_num orderNum,
            path,
            menu_type menuType,
            visible,
            status,
            is_new_link newLinkFlag,
            icon
        FROM
            sys_permission per
        LEFT JOIN
            role_permission rp ON rp.permission_id = per.id
        LEFT JOIN
            sys_role ON sys_role.id = rp.role_id
        LEFT JOIN
            user_role ON user_role.role_id = sys_role.id
        LEFT JOIN
            sys_user ON sys_user.id = user_role.user_id
        WHERE
            sys_user.id = #{userId}
        ORDER BY
            order_num ASC
    </select>
</mapper>
